{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Auth0</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <div class='main'>
        <img src="/static/img/STUHUB.png" class="my_icon">
        <div class='my_btns'>
            <a href="/accounts/login" class="my_login">Login</a>
            <a href="/accounts/login" class="my_login">Sign up</a>
        </div>
    </div>
</body>
</html>