{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

    <div class="main">
        <div class="orders">
            {% for order in orders %}
            <div class="my_orders">
                <h2>{{ order.subject }}</h2>
                <p>{{ order.description }}</p>
                <p>{{ order.deadline }}</p>
                <p>{{ order.price }}</p>
                <p>{{ order.type }}</p>
                <p>{{ order.status }}</p>
                <button>Виконати</button>
            </div>
            {% endfor %}
        </div>
        <div class="nav_info">
            <img src="{{ picture }}" alt="User Picture" width="100" height="100">
            <h3>Welcome, {{ name }}</h3>
            <p>Your nickname is: {{ nickname }}</p>
            <a href="{% url 'profiles:home' %}">Всі завдання</a>
            <a href="{% url 'orders:create_order' %}">Створити завдання</a>
            <a href="{% url 'profiles:home' %}">Мої завдання</a>
            <a href="{% url 'profiles:home' %}">Мої закази</a>
            <a href="{% url 'accounts:logout' %}">Вийти</a>
        </div>
    </div>
</body>
</html>